footer {
    margin-top: 70px;
  }
  
  .footer-info {
    background-color: #f6f7f8;
    padding-bottom: 20px;
  }
  
  .footer-nav {
    background-color: #f6f7f8;
    display: flex;
    align-items: center;
    padding-top: 50px;
  }
  
  
  .footer-navbar>ul {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-navbar>ul>li {
    display: block;
    width: 100px;
    text-align: center;
    text-decoration: none !important;
    display: flex;
    color: black !important;
  
  }
  
  .footer-navbar>ul>li>a {
    text-decoration: none !important;
    color: grey;
    font-size: 18px;
    font-weight: 400;
  }
  
  .footer-info {
    padding-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 180px;
  }
  

  .footer-contact>h3 {
    font-size: 20px;
    color: grey;
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
  }
  
  .footer-address>h3 {
    font-size: 20px;
    color: grey;
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
  }
  
  .footer-logo>h3 {
    font-size: 20px;
    color: grey;
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
  }

  .footer-logo-icon > h4{
    /* float: left; */
    transform: translateY(-50%);
    font-size: 32px !important;
    font-weight: bold;
    padding: 15px;
    padding-top: 50px;
    position: absolute;
    font-family: "Lora";
    color: rgb(90, 90, 90);
  }

  .footer-logo-icon > p{
    font-size: 12px !important;
    /* float: left; */
    font-weight: bold;
    padding-top: 30px;
    margin-left: -20px;
    position: absolute;
    font-family: "Lora";
    color: rgb(90, 90, 90);
  }
  
  .logo1 {
    margin-top: 30px;
  }
  
  .logo1 h4 {
  
    transform: translateY(-50%);
    font-size: 35px !important;
    font-weight: bold;
    padding: 15px !important;
    position: absolute;
    font-family: "Lora";
  
    color: rgb(90, 90, 90);
  }
  
  .logo1 p {
    font-size: 15px !important;
  
    font-weight: bold;
    padding: 13px;
    margin-left: -40px;
    position: absolute;
    font-family: "Lora";
    color: rgb(90, 90, 90);
  
  }
  
  .footer-contact>p {
    font-size: 13px;
    padding-top: 10px;
    color: grey;
    font-weight: 300;
    font-family: 'Martel';
  }
  
  .footer-address>p {
    font-size: 13px;
    padding-top: 10px;
    color: grey;
    font-weight: 300;
    font-family: 'Martel';
  }
  
  .footer-icon i {
    font-size: 20px;
    padding: 5px;
    color: #919191;
  }
  
  .footer-icon i:hover {
    color: #66b7d8;
  }
  
  .copyright {
    padding-top: 10px;
    background-color: #e7e7e7;
    padding-bottom: 8px;
  }
  
  .copyright p {
    color: #000;
    text-align: center;
    font-family: 'Martel', sans-serif;
    padding-top: 12px;
    font-size: 12px;
    text-transform: uppercase;
  }