
.main{
background-color: white;
padding-bottom: 80px;
}
.hardware-main-heading > h3{
    padding-top: 120px;
    padding-bottom: 50px;
    background-color: #f6f7f8;
    color: black;
    font-size: 40px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
}

.hardware-card-animation {
    display: flex;
    gap: 60px;
    justify-content: center;
}