* {
    margin: 0;
    padding: 0;
  }
  
  header {
    margin: 0;
  }
  
  body {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  .navbar-main {
    width: 100% !important;
    float: right;
    /* position:fixed; */
  }
  
  
  .logo h4 {
    float: left;
    transform: translateY(-50%);
    font-size: 35px !important;
    font-weight: bold;
    padding: 15px;
    position: absolute;
    font-family: "Lora";
    margin-left: 50px;
    color: rgb(90, 90, 90);
  }
  
  .logo p {
    font-size: 15px !important;
    /* float: left; */
    font-weight: bold;
    padding: 10px;
    position: absolute;
    font-family: "Lora";
    margin-left: 20px;
    color: rgb(90, 90, 90);
  
  }
  
  .nav-bar li a {
    font-size: 20px;
    font-weight: bold;
    color: #726474 !important;
    font-family: 'Martel' !important;
  }
  
  .nav-bar li a:hover {
    color: #fff !important;
  }
  
  .navbar-colour {
    background-color: #dbe2f2;
  }
  
  .nav-bar {
    gap: 20px;
  }