*{
    margin: 0;
    padding: 0;
}

/* values section */
.values h1{
    font-size: 48px;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    background-color: #f6f7f8;
    padding-top: 130px;
    color: #5e7b89;
    margin-bottom: 0 !important;
}

.value-card{
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    background-color:#f6f7f8;

}
.value-box{
    padding-top: 50px;
    background:#c0e3ee;
    margin: 25px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    gap: 20px;
    box-shadow: 5px 10px 8px #888888;
}

.value-box h4{
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
}

/* Product SECTION */
.product-row{
    justify-content: center;
    gap: 0% !important;
}
.category{
    background-color: #f6f7f8;
}

.category > h1{
    text-align: center;
    background-color: #f6f7f8; 
    font-family: 'Montserrat',sans-serif;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 50px;
    font-size: 60px;
    background: -webkit-linear-gradient(#dee1e6, #5e7b89);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.category-main h3{
    padding: 10px;
}

.category-main > img{
    width: 100%;
    height: 350px;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 10px 10px 0px 0px;
}

.main-part1 > img{
    display: block;
    width: 100%;
    height: 300px;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 10px 10px 0 0 ;
}
.main-part2 > img{
    display: block;
    width: 100%;
    height: 300px;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 10px 10px 0 0 ;
}


.main-part2{
    position: relative;
}

.main-part1 {
    position: relative;
  }
  
  
  .overlay  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    background-color: rgb(41, 41, 41);
  }
  
  .main-part1:hover .overlay {
    height: 100%;
    opacity: 0.7;
  }
  .main-part2:hover .overlay {
    height: 100%;
    opacity: 0.7;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }