*{
    margin: 0;
    padding: 0;
}

.project{
    margin-top: 0 !important;
}

.project-row {
  justify-content: center !important;
  gap: 2.5% !important;
  display: flex;
}
.project h1{
  font-family: 'Montserrat',sans-serif;
  text-align: center;
  background-color: #f6f7f8;
  padding-top: 120px !important;
  margin-bottom: 0 !important;
  padding-bottom: 50px !important;
  font-size: 60px;
  background: -webkit-linear-gradient(#dee1e6, #5e7b89);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.title-tab{
    margin-top: 50px !important;
    margin: 5px;
    text-align: center;
    margin-bottom: 30px !important;
}

.btn-outline-warning.active{
    background-color: rgb(142, 213, 241);
    color: rgb(61, 61, 61);
}


.btn-outline-warning{
    color: #f6f7f8;
    background-color: rgb(46, 124, 212);
    font-family: 'Montserrat',sans-serif;
    margin: 5px;
    border: none;
    border-color: none;
}

.btn-outline-warning:hover{
    background-color: rgb(142, 213, 241);
    color: rgb(61, 61, 61);

}

.projectcontainer > img{
    border-radius: 10px;
    box-shadow: 5px 10px 8px #888888;
    display: block;
    margin-bottom: 40px !important;
}


.projectcontainer{
    position: relative;
}



.overlay1  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    background-color: rgb(41, 41, 41);
  }
  
  .projectcontainer:hover .overlay1 {
    height: 25%;
    opacity: 0.7;
  }
  
  .text1 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }


  .project-container{
    display: flex;

    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url(../images/dot.png)

  }

  .project-img{
    width: 30%;
  }

  .project-img img{
    width:100%;
    height: 380px;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 10px 10px 0 0;


  }

  .project-text{
    margin-top: 20px;
  }

  .project-text p{
    padding: 55px 100px;
  }

  .project-text, h4, h6{
    text-align: left;
    padding-left: 120px;
    font-family: 'Montserrat',sans-serif;
  }


  .counter-1{
    width: 200px;
    color:rgba(0, 0, 0, 0.486);
    padding-top: 16px;
    font-size: 50px;
    height: 135px;
    font-family: sans-serif;
    background-color: rgba(255,255,255,0.9);
    transform: translate(8px, -153px);
    text-align: center;
    border-radius: 4px;
    display: inline-grid;
  }
  .counter-2{
    width: 200px;
    color:rgba(0, 0, 0, 0.486);
    padding-top: 16px;
    font-size: 50px;
    height: 135px;
    font-family: sans-serif;
    background-color: rgba(255,255,255,0.9);
    transform: translate(155px, -366px);
    text-align: center;
    border-radius: 4px;
    display: inline-grid;
  }
  .counter-heading{
    margin-bottom: 50px;
  }
  #count1{
    display: inline-grid;
  }
  #count2{
    display: inline-grid;
  }